# directories
# cache
# node_modules
# out

# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
yarn.lock

# broadcasts
!broadcast
broadcast/*
broadcast/*/31337/


.gitattributes
.gas-snapshot
.editorconfig
.env.example
.gitmodules
.prettierrc.yml
.prettierignore
.solhint.json